<div class="fix-header"  >
 Hello fix header
 <div class="title" >
   <h2>Hello Angular</h2>
  </div>
 <div class="sub-title" [ngClass]="{'hide-top':status}">sub tilte</div>
</div>
<div class="page-content">
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <button (click)="addStyle()">click</button>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>
  <p>page 1</p>

</div>
<router-outlet></router-outlet>
